@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
:root{
    --color-primario: #0A3871/*#000000*/;
    --color-secundario: #343A40/*#F6F6F6*/;
    --color-terciario: #495057 /*#22D4FD*/;
    --color-cuartario: #D8DFE8;
    --color-hover: #FFCBCB /*#272727*/;
    --color-fondo: #E5E5E5;
    --color-error: #f70404;
    --fuente-Inter: "Inter", sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-fondo);
}

.titulo{
    width: 100%;
}

.titulo_logo{
    width: 7%;
    margin-top: 15px;
    margin-left: 10px;
}

main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 0px;
}

.caja_botones{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    justify-content: center;
}

.boton_encriptar{
    width: 45%;
    height: 67px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-size: 16px;
    color: var(--color-cuartario);
    background-color: var(--color-primario);
    border-style: solid;
    border-color: var(--color-primario);
}

.boton_desencriptar{
    width: 45%;
    height: 67px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-size: 16px;
    color: var(--color-primario);
    background-color: var(--color-cuartario);
    border-style: solid;
    border-color: var(--color-primario);
}

.caja_textarea_botones_parrafo{
    color: var(--color-terciario);
    font-family: var(--fuente-Inter);
    font-size: 12px;
    font-weight: 400;
    margin: 10px 40px;
}

i{
    margin-right: 10px;
}

#errorMayusculas, #errorCaracteresEspeciales, #errorTildes{
    color: var(--color-error);
    font-family: var(--fuente-Inter);
    font-size: 12px;
    font-weight: 400;
    margin: 10px 40px 20px;
}

.caja_textarea_botones{
    width: 60%;
}
#ingreso_texto{
    width: 90%;
    height: 400px;
    padding: 50px;
    border-radius: 50px;
    font-family: var(--fuente-Inter);
    font-size: 32px;
    background-color: transparent;
    border:none;
    outline: none;
}

::placeholder{
    color: var(--color-primario);
}
#salida_texto{
    width: 22%;
    height: 720px;
    padding:0px 15px;
    margin-top: -50px;
    border-radius: 50px;
    font-family: var(--fuente-Inter);
    font-size: 30px;
    background-color: white;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

#parrafoSalidaTexto{
    position: absolute;
    height: 550px;
    margin-top: 20px;
    text-align:left;
    font-size: 1.5rem;
    color: var(--color-terciario);
    padding: 20px;
    
}
#salida-texto-caja{
    height: 600px;
    margin-top: 130px;
}
.salida_texto_imagen{
    width: 100%;
}

.texto1_salida_texto{
    text-align: center;
    font-family: var(--fuente-Inter);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-secundario);
    margin-bottom: 10px;
}
.texto2_salida_texto{
    text-align: center;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-terciario);
}

.boton_copiar{
    width: 80%;
    height: 67px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-size: 16px;
    color: var(--color-primario);
    background-color: var(--color-cuartario);
    border-style: solid;
    border-color: var(--color-primario);
    
    position: absolute;
    bottom: 20px;
    display: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
    
    /*
    margin-top: 35px;
    margin-bottom: 0;
    */
    background-color: transparent;
    font-family: var(--fuente-Inter);
    font-weight: 700;
    font-size: 0.85rem;
    color: var(--color-secundario);
    font-family: "Playwrite AT", cursive;
}

#githubImg, #linkedinImg{
    
    width: 20px;
    height: 20px;
    margin:5px;
}