@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
:root{
    --color-primario: #987D9A /*#0A3871*/;
    --color-secundario: #343A40;
    --color-terciario: #495057;
    --color-cuartario: #EECEB9 /*#D8DFE8*/;
    --color-hover: #FEFBD8 /*#b2b4b6*/;
    --color-fondo: #ecdbe7 /*#E5E5E5*/;
    --color-error: #f70404;
    --fuente-Inter: "Inter", sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-fondo);
    height: auto;
}

.titulo{
    width: 100%;
    
}

.titulo_logo{
    width: 7%;
    margin-top: 20px;
    margin-left: 10px;
    
}

main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 0px;
}

.caja_botones{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    justify-content: center;
}

.boton_encriptar{
    width: 45%;
    height: 67px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-size: 1.05rem;
    color: var(--color-cuartario);
    background-color: var(--color-primario);
    border-style: solid;
    border-color: var(--color-primario);
}

.boton_encriptar:hover{
    background-color: var(--color-hover);
    color: var(--color-primario);
}

.boton_desencriptar{
    width: 45%;
    height: 67px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-size: 1.05rem;
    color: var(--color-primario);
    background-color: var(--color-cuartario);
    border-style: solid;
    border-color: var(--color-primario);
}
.boton_desencriptar:hover{
    background-color: var(--color-hover);
    color: var(--color-primario);
}
.caja_textarea_botones_parrafo{
    color: var(--color-terciario);
    font-family: var(--fuente-Inter);
    font-size: 12px;
    font-weight: 400;
    margin: 10px 40px;
}

i{
    margin-right: 10px;
}

#errorMayusculas, #errorCaracteresEspeciales, #errorTildes{
    color: var(--color-error);
    font-family: var(--fuente-Inter);
    font-size: 12px;
    font-weight: 400;
    margin: 10px 40px 10px;
}

.caja_textarea_botones{
    width: 60%;
}
#ingreso_texto{
    width: 90%;
    height: 400px;
    padding: 50px;
    border-radius: 50px;
    font-family: var(--fuente-Inter);
    font-size: 32px;
    background-color: transparent;
    border:none;
    outline: none;
}

::placeholder{
    color: var(--color-primario);
}
#salida_texto{
    width: 22%;
    height: 720px;
    padding:0px 15px;
    margin-top: -80px;
    border-radius: 50px;
    font-family: var(--fuente-Inter);
    font-size: 30px;
    background-color: white;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 4px  15px rgba(0, 0, 0, 0.2);
}

#parrafoSalidaTexto{
    position: absolute;
    height: 550px;
    margin-top: 20px;
    text-align:left;
    font-size: 1.05rem;
    color: var(--color-terciario);
    padding: 20px;
    max-height: 500px;
    overflow-y: auto ;
    
}
#salida-texto-caja{
    height: 600px;
    margin-top: 130px;
    padding: 20px;
    
}
.salida_texto_imagen{
    margin-top: -60px;
    width: 100%;
}

.texto1_salida_texto{
    text-align: center;
    font-family: var(--fuente-Inter);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-secundario);
    margin-bottom: 10px;
}
.texto2_salida_texto{
    text-align: center;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1.05rem;
    color: var(--color-terciario);
}

.boton_copiar{
    width: 80%;
    height: 67px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-size: 1.05rem;
    color: var(--color-primario);
    background-color: var(--color-cuartario);
    border-style: solid;
    border-color: var(--color-primario);
    
    position: absolute;
    bottom: 20px;
    display: none;
}

.boton_copiar:hover{
    background-color: var(--color-primario);
    color: var(--color-cuartario);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-top: 35px;
    margin-bottom: 0;
    */
    background-color: transparent;
    font-family: var(--fuente-Inter);
    font-weight: 700;
    font-size: 0.85rem;
    color: var(--color-secundario);
    font-family: "Playwrite AT", cursive;
}

.fa-brands.fa-github, .fa-brands.fa-linkedin{
    font-size: 20px;
    color: var(--color-secundario);
}

@media (max-height: 700px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .titulo_logo{
        width: 5%;
        margin-top: 45px;
        margin-left: 40px;
    }
    
    main{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 80px;
        margin-top: 0px;
        
    }
    
    .caja_textarea_botones{
        width: 60%;
    }
    #ingreso_texto{
        width: 100%;
        height: 400px;
        padding: 50px;
        margin-top: -30px;
        border-radius: 50px;
        font-family: var(--fuente-Inter);
        font-size: 32px;
        background-color: transparent;
        border:none;
        outline: none;
    }
    #parrafoSalidaTexto{
        padding: 0px;
        margin-top: 40px;
        max-height: 400px;
        overflow-y: auto ;
        text-align: center;
    }
    #salida_texto{
        width: 22%;
        height: 600px;
        padding:0px 15px;
        margin-top: -70px;
        border-radius: 50px;
        font-family: var(--fuente-Inter);
        font-size: 30px;
        background-color: white;
        display: flex;
        
        align-items: center;
        flex-direction: column;
        position: relative;
        
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        
    }
}

@media (max-height: 610px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .titulo_logo{
        width: 5%;
        margin-top: 25px;
        margin-left: 40px;
    }
    
    main{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 80px;
        margin-top: 0px;
        
    }
    
    .caja_textarea_botones{
        width: 60%;
    }
    #ingreso_texto{
        width: 100%;
        height: 360px;
        padding: 50px;
        margin-top: -60px;
        border-radius: 50px;
        font-family: var(--fuente-Inter);
        font-size: 32px;
        background-color: transparent;
        border:none;
        outline: none;
    }
    #parrafoSalidaTexto{
        padding: 0px;
        margin-top: 40px;
        max-height: 400px;
        overflow-y: auto ;
        text-align: center;
    }
    #salida_texto{
        width: 22%;
        height: 520px;
        padding:0px 15px;
        margin-top: -50px;
        border-radius: 50px;
        font-family: var(--fuente-Inter);
        font-size: 30px;
        background-color: white;
        display: flex;
        
        align-items: center;
        flex-direction: column;
        position: relative;
        
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        /*
        padding-top: 10px;
        padding-bottom: 10px;
        */
        
        /*
        margin-top: 35px;
        margin-bottom: 0;
        */
        background-color: transparent;
        font-family: var(--fuente-Inter);
        font-weight: 700;
        font-size: 0.85rem;
        color: var(--color-secundario);
        font-family: "Playwrite AT", cursive;
    }
}

@media (max-width: 768px){
    .titulo_logo{
        width: 10%;
        margin-top: 50px;
        margin-left: 40px;
    }
    main{
        flex-direction: column;
        gap: 20px;
    }
    .salida_texto_imagen{
        display: none;
    }
    #salida_texto{
        width: 80%;
        height: 220px;
        padding: 5px;
        margin-top: 0px;
    }
    .texto1_salida_texto{
        text-align: center;
        font-size: 1.75rem;
        margin-bottom: 10px;
        margin-top: -50px;
    }
    .texto2_salida_texto{
        text-align: center;
        font-weight: 400;
        font-size: 1.25rem;
    }
    #parrafoSalidaTexto{
        position: absolute;
        margin-top: 5px;
        font-size: 1.25rem;
        padding: 20px;
        max-height: 80px;
        overflow-y: auto ;
    }

    .caja_textarea_botones{
        width: 90%;
        margin-top: 40px;
        
    }
    
}

@media (max-width: 500px){
    .titulo_logo{
        width: 12%;
        margin-top: 30px;
        margin-left: 20px;
    }
    main{
        flex-direction: column;
    }
    .salida_texto_imagen{
        display: none;
    }
    #salida_texto{
        width: 80%;
        height: 220px;
        padding: 5px;
        margin-top: 10px;
    }
    .texto1_salida_texto{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-top: -100px;
    }
    .texto2_salida_texto{
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
    }
    #parrafoSalidaTexto{
        position: absolute;
        
        margin-top: 5px;
        font-size: 1.25rem;
        padding: 20px;
        max-height: 80px;
        overflow-y: auto ;
    }

    .caja_textarea_botones{
        width: 90%;
        margin-top: 20px;
        
    }

    #ingreso_texto{
        height: 260px;
        width: 90%;
        padding: 15px;

    }
    .caja_botones{
        flex-direction: column;
        align-items: center;
    }
    .boton_encriptar, .boton_desencriptar{
        width: 90%;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        
        bottom: 0;
        width: 100%;
        height: 30px;
        margin-top: 35px;
        margin-bottom: 0px;
        */
        background-color: transparent;
        font-family: var(--fuente-Inter);
        font-weight: 700;
        font-size: 0.85rem;
        color: var(--color-secundario);
        font-family: "Playwrite AT", cursive;
    }
}

@media (max-width: 375px){
    .titulo_logo{
        width: 15%;
        margin-top: 30px;
        margin-left: 20px;
    }
    main{
        flex-direction: column;
        gap: 20px;
    }
    .salida_texto_imagen{
        display: none;
    }
    #salida_texto{
        width: 80%;
        height: 220px;
        padding: 5px;
        margin-top: 10px;
    }
    .texto1_salida_texto{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-top: -100px;
    }
    .texto2_salida_texto{
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
    }
    #parrafoSalidaTexto{
        position: absolute;
        
        margin-top: 5px;
        font-size: 1.25rem;
        padding: 20px;
        max-height: 80px;
        overflow-y: auto ;
    }

    .caja_textarea_botones{
        width: 90%;
        margin-top: 20px;
        
    }

    #ingreso_texto{
        height: 260px;
        width: 90%;
        padding: 15px;

    }
    .caja_botones{
        flex-direction: column;
        align-items: center;
    }
    .boton_encriptar, .boton_desencriptar{
        width: 90%;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 30px;
        margin-top: 35px;
        margin-bottom: 0px;
        */
        background-color: transparent;
        font-family: var(--fuente-Inter);
        font-weight: 700;
        font-size: 0.85rem;
        color: var(--color-secundario);
        font-family: "Playwrite AT", cursive;
    }
}